.page-title {
  text-align: left;
  margin-left: 20px;
}

.dropdown-button {
  border: 1px solid black;
  color: black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 3px 10px;
}

.delete-btn:first-child {
  border-color: rgb(50, 173, 50);
  color: rgb(50, 173, 50);
}

.delete-btn:first-child:hover {
  background-color: rgb(190, 247, 190);
}

.delete-btn {
  transition: all 0.3s linear;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: transparent;
  padding: 2px 6px;
  font-size: 18px;
  width: fit-content;
}

.delete-btn:last-child {
  border-color: rgb(255, 141, 141);
  color: red;
}


.delete-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}

.delete-btn:last-child:hover {
  background-color: rgba(255, 0, 0, 0.1);
}
