.inner-categories {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;

  .inner-categories-item {
    width: calc(100% / 11);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: transform 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: translateY(-3px);
    }

    .inner-image {
      border: 1px solid #ddd;
      border-radius: 10px;

      img {
        width: 50px;
        height: 50px;
      }
    }
    .inner-text {
      text-align: center;
      span {
        font-size: 12px;
        white-space: wrap;
        line-height: 0.5;
      }
    }
  }
}

.inner-banner {
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.inner-product-1 {
  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin: 35px auto;

    &::after {
      content: "";
      border-bottom: 2px solid #ddd;
      display: block;
      height: 1px;
      width: 10%;
      margin: 0 auto;
      position: relative;
      top: 10px;
    }
  }
}

.inner-commit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #000;

  div {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  span {
    vertical-align: middle;
  }

  svg {
    width: 40px;
    height: 40px;
    vertical-align: middle;
  }
}

.inner-product-2 {
  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin: 35px auto;

    &::after {
      content: "";
      border-bottom: 2px solid #ddd;
      display: block;
      height: 1px;
      width: 10%;
      margin: 0 auto;
      position: relative;
      top: 10px;
    }
  }
  .product-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.inner-more {
  display: flex;
  align-items: center;
  justify-content: center;

  .btn {
    background-color: black;
    border-radius: 8px;
    padding: 4px 12px;
    font-size: 14px;

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.8);
    }
  }
}
